<div class="hero">
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Trimr</h1>
    <i>Connecting users to barbers for in-home appointments.</i>
    <hr class="frostyhr" />
    <%= link_to "Book a Barber", barbers_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>