<div class="hero">
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Trimr</h1>
    <%= link_to "Book A Barber", barbers_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>