<br />

<div class="booyah-box col-10 offset-1">
  <br />
  <h1 class="text-center">Meet The Team</h1>
  <br />

  <div class="text-center">
    <%= image_tag 'me.jpg', class: 'team-pic' %>
  </div>
  <br />
  <p class="text-center"><b>Michael Handkins</b> is a world-renowned software engineer who specializes in world-class web applications designed via Ruby on Rails. Some of his most acclaimed projects include <i>Nomster, Flixter,</i> and of course <i>Trimr</i>.</p>
  <br />
</div>
<br />