<br />
<div class="booyah-box col-10 offset-1">
  <h2 class="text-center"><%= current_user.email %>'s Dashboard</h2>
  <br />
  <div class="text-center">
    <%= link_to "Edit Account Info", edit_user_registration_path(current_user), class: 'btn btn-success' %>
    <hr />
    <%= link_to "Edit Barber Info", '#', class: 'btn btn-warning' %>
  </div>

</div>
<br />